<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo/logo.svg" alt="logo birdwings">
      </a>
    </div>
    <ul class="menu">
      <li>
        <a class="subtitle subtitle--bold" routerLink="/">Strona główna</a>
      </li>
      <li>
        <a class="subtitle subtitle--bold" routerLink="/about-us">O nas</a>
      </li>
      <li>
        <a class="subtitle subtitle--bold" routerLink="/">Opinie</a>
      </li>
      <li>
        <a class="subtitle subtitle--bold" routerLink="/">Kontakt</a>
      </li>
      <li>
        <a class="subtitle subtitle--bold" routerLink="/faq">F.A.Q.</a>
      </li>
      <li>
        <button class="btn btn--md btn--lighter">Zaloguj się</button>
        <button class="btn btn--md ml-15">Zarejestruj się</button>
      </li>
    </ul>
    <div class="buttons">
      <button class="btn btn--md btn--lighter">Zaloguj się</button>
      <button class="btn btn--md ml-15">Zarejestruj się</button>
    </div>
    <div class="menu-mobile">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
