@import "../../../scss/variables.scss";

@media (max-width: $bp-800) {
  .offer {
    margin-bottom: 0;
  }

  .col-6 {
    width: 100%;
  }

  .photo {
    order: 1;
  }

  .lead-md {
    margin-bottom: 10px;
  }

  .mobile {
    order: 3;
  }
}

/* INTRO SECTION */

.intro .position-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 45%;

  @media (max-width: $bp-desktop) {
    display: none;
  }
}

.intro .container {
  margin-top: 270px;
  height: 50vh;
}

.intro h1 {
  max-width: 610px;
  margin-bottom: 20px;
}

.intro .lead-lg {
  max-width: 660px;
  margin-bottom: 40px;
}

/* OFFER SECTION */

.offer {
  margin-bottom: 80px;
}
