<section class="intro">
  <img class="position-img" src="../../../assets/images/about-us.png">
  <div class="container">
    <h1>O nas</h1>
    <p class="lead-lg">Poświęć chwilkę swojego czasu i dowiedz się czym zajmujemy się na co dzień oraz co oferujemy. Zachęcamy również do zapoznania się z naszymi referencjami!</p>
    <a class="btn" routerLink="/">Zobacz opinie</a>
  </div>
</section>
<section class="offer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="assets/images/about.png">
      </div>
      <div class="col-6 mt-5">
        <h3>Sed sed ornare pellentesque</h3>
        <p class="lead-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Eleifend quam morbi nisl nulla pulvinar etiam.
          Vehicula tellus sed congue sed tempus dignissim nibh.
          Gravida malesuada dolor cursus.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-5">
        <h3>Sed sed ornare pellentesque</h3>
        <p class="lead-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Eleifend quam morbi nisl nulla pulvinar etiam.
          Vehicula tellus sed congue sed tempus dignissim nibh.
          Gravida malesuada dolor cursus.
        </p>
      </div>
      <div class="col-6">
        <img src="assets/images/about2.png">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/images/about3.png">
      </div>
      <div class="col-6 mt-5">
        <h3>Sed sed ornare pellentesque</h3>
        <p class="lead-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Eleifend quam morbi nisl nulla pulvinar etiam.
          Vehicula tellus sed congue sed tempus dignissim nibh.
          Gravida malesuada dolor cursus.
        </p>
      </div>
    </div>
  </div>
</section>
