<section class="intro">
  <img class="position-img" src="../../../assets/images/home.png">
  <div class="container">
    <h1>Wynajmuj, rezerwuj w birdwings.pl</h1>
    <p class="lead-lg">Załóż konto aby uzyskać dostęp do pełnych możliwości naszego systemu. Prosty i intuicyjny panel czeka na Ciebie!</p>
    <a class="btn" routerLink="/">Zarejestruj się</a>
  </div>
</section>

<section class="hero">
  <div class="container">
    <h2>Wybieraj spośród tysiąca pokoi i apartamentów</h2>
    <div class="boxes">
      <div class="box">
        <img class="mb-5" src="assets/images/room.jpg">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="box">
        <img class="mb-5" src="assets/images/room2.jpg">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="box">
        <img class="mb-5" src="assets/images/room3.jpg">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="box">
        <img class="mb-5" src="assets/images/room4.jpg">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="box">
        <img class="mb-5" src="assets/images/room5.jpg">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</section>

<section class="info">
  <div class="container">
    <h2>Szybka rezerwacja, dogodne terminy i niskie ceny!</h2>
    <button class="btn btn--md btn--white">Zarejestruj się</button>
    <div class="ticks">
      <div class="tick">
        <img src="assets/logo/checklist.svg">
        <p class="text-sm ml-10">Prosty i intuicyjny panel</p>
      </div>
      <div class="tick">
        <img src="assets/logo/checklist.svg">
        <p class="text-sm ml-10">Miła i szybka obsługa klienta</p>
      </div>
      <div class="tick">
        <img src="assets/logo/checklist.svg">
        <p class="text-sm ml-10">Indywidualne promocyjne oferty</p>
      </div>
    </div>
  </div>
</section>
