<div class="container">
  <div class="row">
    <div class="col-5">
      <img class="mb-50" src="assets/logo/logo-white.png" alt="logo birdwings">
      <p class="text-sm mb-10">Copyright © 2021 Jakub Zięba</p>
      <p class="text-sm mb-40">All rights reserved</p>
      <div class="social-media">
        <a href="#">
          <div class="circle-gray">
            <i class="fab fa-instagram fa-lg"></i>
          </div>
        </a>
        <a href="#">
          <div class="circle-gray">
            <i class="fab fa-facebook-square fa-lg"></i>
          </div>
        </a>
        <a href="#">
          <div class="circle-gray">
            <i class="fab fa-twitter-square fa-lg"></i>
          </div>
        </a>
        <a href="#">
          <div class="circle-gray">
            <i class="fab fa-youtube-square fa-lg"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="col-2">
      <p class="label-lg">Firma</p>
      <ul>
        <li>
          <a class="text-lg" routerLink="/">Strona główna</a>
        </li>
        <li>
          <a class="text-lg" routerLink="/about-us">O nas</a>
        </li>
        <li>
          <a class="text-lg" href="#">Opinie</a>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <p class="label-lg">Pomoc</p>
      <ul>
        <li>
          <a class="text-lg" href="#">Kontakt</a>
        </li>
        <li>
          <a class="text-lg" href="#">F.A.Q.</a>
        </li>
      </ul>
    </div>
    <div class="col-3 text-center">
      <p class="lead-lg">Z birdwings.pl rezerwacje nigdy nie były tak proste. Skorzystaj z naszej oferty już dziś!</p>
    </div>
  </div>
</div>
