<div class="container">
  <h2>Najczęstsze zadawane pytania</h2>

  <div class="accordion mb-10" id="faq">
    <div class="accordion-item">
      <h3 class="accordion-header" id="questionOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answerOne" aria-expanded="false" aria-controls="answerOne">
          1. Czy jest możliwość rezerwacji noclegu wraz z śniadaniami oraz obiadokolacjami?
        </button>
      </h3>
      <div id="answerOne" class="accordion-collapse collapse" aria-labelledby="questionOne" data-bs-parent="#faq">
        <div class="accordion-body">
          Tak, w naszych lokalach są restaruacje. Pożywienie podczas pobytu wiąże się to z dodatkową dopłatą za dobę.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="questionTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
          2. Czy na terenie obiektu jest parking?
        </button>
      </h3>
      <div id="answerTwo" class="accordion-collapse collapse" aria-labelledby="questionTwo" data-bs-parent="#faq">
        <div class="accordion-body">
          Tak i dla naszych gości parking jest bezpłatny.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="questionThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answerThree" aria-expanded="false" aria-controls="answerThree">
          3. Ile kosztuje pobyt w obiekcie?
        </button>
      </h3>
      <div id="answerThree" class="accordion-collapse collapse" aria-labelledby="questionThree" data-bs-parent="faq">
        <div class="accordion-body">
          Ceny w obiekcie mogą się różnić w zależności od terminu, pokoju, lokalizacji itp. Aktualne ceny możesz sprawdzić w zakładce "Oferta".
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="questionFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answerFour" aria-expanded="false" aria-controls="answerFour">
          4. Czy na terenie obiektu jest basen?
        </button>
      </h3>
      <div id="answerFour" class="accordion-collapse collapse" aria-labelledby="questionFour" data-bs-parent="#faq">
        <div class="accordion-body">
          Większość naszych ofert ma dostęp do basenu. Szczegóły znajdują się w ofercie dotyczącego pokoju.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header" id="questionFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#answerFive" aria-expanded="false" aria-controls="answerFive">
          5. Jakie są godziny zameldowania i wymeldowania w obiekcie?
        </button>
      </h3>
      <div id="answerFive" class="accordion-collapse collapse" aria-labelledby="questionFive" data-bs-parent="#faq">
        <div class="accordion-body">
          Zameldowanie w obiekcie rozpoczyna się o 14:00, a wymeldować się można do 10:00.
        </div>
      </div>
    </div>
  </div>
  <p class="lead-md text-center mb-50">Nie znalazłeś odpowiedzi na swoje pytanie? Przejdź do naszego <a routerLink="/kontakt">formularza kontaktowego</a>.</p>
</div>
